@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>@ViewData["Message"]</h1>
    <p>@ViewData["Nome"]</p>
    <address>
        <strong>More information: </strong><a href="https://www.linkedin.com/in/leonardo-ara%C3%BAjo-b82a98266/">linkedin.com</a>
    </address>

</div>

